@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .container img {
    width: 99%;
  }

  .float-left,
  .float-right {
    clear: both;
  }
}


@media screen and (min-width: 414px) and (max-width: 768px) {

}

@media screen and (max-width: 470px) {
  nav .default-menu {
    display: none;
  }

  nav .hamburger {
    display: block;
  }
}


@media screen and (max-width: 414px) {
  body {
    font-size: 1.5em;
  }

  #logo {
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 180px;
  }
}

@media screen and (max-width: 331px) {
  nav li {
    font-size: 0.75em;
  }
}
